<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <!-- タブ・メニュー -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#sampleContentA" data-toggle="tab">ユーザー詳細</a></li>
      <li><a href="#sampleContentB" data-toggle="tab">登録住所一覧</a></li>
      <li><a href="#sampleContentC" data-toggle="tab">購入履歴一覧</a></li>
    </ul>

    <!-- タブ内容 -->
    <div class="tab-content">
      <div class="tab-pane active" id="sampleContentA">
        <table>
          <tr>
            <th>氏名</th>
            <td><%= "#{current_user.last_name} #{current_user.first_name}" %></td>
          </tr>
          <tr>
            <th>氏名(カナ)</th>
            <td><%= "#{current_user.kana_last_name} #{current_user.kana_first_name}" %></td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td><%= current_user.read_postal_code %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= current_user.address %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= current_user.phone %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= current_user.email %></td>
          </tr>
        </table>
        <%= link_to "編集", edit_users_users_path %>
        <%= link_to "退会", unsubscribe_confirm_users_users_path %>
      </div>
      <div class="tab-pane" id="sampleContentB">
        <p>タブＢの内容</p>
      </div>
      <div class="tab-pane" id="sampleContentC">
        <p>タブＣの内容</p>
      </div>
    </div>
  </div>
</div>
