<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h3>カート</h3>
    <hr>

    <% @items.each do |item| %>
      <div class="jumbotron item-wrapper">
        <div class="container-fluid">
          <div class="row">

            <div class="col-sm-4">
              <%= attachment_image_tag item, :jacket_image, :fill, 100, 100, size: "100x100", fallback: "/images/no_image.png" %>
            </div>

            <div class="col-sm-8">
              <h4><%= item.title %> / <%= item.artist.name %></h4>
              <p>
                ¥<%= item.price %> × <%= select_tag('cart_item[amount]', options_for_select(item.stock_and_cart_array, selected: item.cart_items.first.amount),
                                                         data: { "url" => users_cart_item_path(item.cart_item_by(current_user)) }, class: "cart_item_amount") %>枚
              </p>
              <p class="item-stock">在庫: <%= item.stock %>枚</p>
              <p class="item-status"><%= item.status ? "販売中" : "売り切れ" %></p>
              <%= link_to "削除", users_cart_item_path(item.cart_items.first), method: :delete, data: { "confirm" => "本当に削除しますか？" }, class: "btn btn-danger" %>
            </div>

          </div>
        </div>
      </div>
    <% end %>

    <% if @items.present? %>
      <h2>合計金額 : ¥<span id="sum-price"><%= current_user.cart_sum_price %></span></h2>
      <%= link_to "購入に進む", new_users_order_path, class: "btn btn-primary" %>
    <% else %>
      <h3>まだカートに商品はありません</h3>
    <% end %>
  </div>
</div>
