<% items.each do |item| %>
  <div class="jumbotron item-wrapper">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-4">
          <%= attachment_image_tag item, :jacket_image, :fill, 100, 100, size: "100x100", fallback: "/images/no_image.png" %>
        </div>

        <div class="col-sm-8">
          <h4><%= item.title %> / <%= item.artist.name %></h4>
          <p><%= item.status ? "販売中" : "売り切れ" %></p>
          <p>在庫: <%= item.stock %></p>
          <%= link_to 'show', users_item_path(item) %>
        </div>

      </div>
    </div>
  </div>
<% end %>
<%= paginate items, class: "paginate" %>
