<%= render 'layouts/error', object: @cart_item %>
<div class="jumbotron item-show-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <%= attachment_image_tag @item, :jacket_image, :fill, 300, 300, size: "300x300", fallback: "/images/no_image.png" %>
      </div>
      <div class="col-sm-6">
        <h2><%= @item.title %> / <%= @item.artist.name %></h2>
        <h3><%= @item.genre.name %> / <%= @item.label.name %></h3>
        <p>￥<%= @item.price %></p>
        <p><%= @item.status ? "販売中" : "売り切れ" %></p>
        <%= select_tag('item[disks]', options_for_select(@item.disks.map.with_index{ |disk, index| ["Disk#{index + 1}", disk.id] }), 
                                                         data: { "url" => get_songs_users_items_path }) %>
        <ol id="songs-list">
        <% @item.disks.first.songs.each do |song| %>
          <li><%= song.title %></li>
        <% end %>
        </ol>

        <p>在庫: <%= @item.stock %></p>

        <% if @item.stock != 0 %>
          <%= form_with model: [:users, @cart_item], local: true do |f| %>
            <%= f.select :amount, @item.stock_array, selected: 1 %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.submit "カートに追加", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
