<div class="jumbotron item-show-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <%= attachment_image_tag @item, :jacket_image, :fill, 300, 300, size: "300x300", fallback: "no_image.png" %>
      </div>
      <div class="col-sm-6">
        <h2><%= @item.title %> / <%= @item.artist.name %></h2>
        <h3><%= @item.genre.name %> / <%= @item.label.name %></h3>
        <p>￥<%= @item.price %></p>
        <p><%= @item.status ? "販売中" : "売り切れ" %></p>
        <%= select_tag('item[disks]', options_for_select(@item.disks.map.with_index{ |disk, index| ["Disk#{index + 1}", disk.id] }), 
                                                          data: { "url" => get_songs_users_items_path }) %>
        <ol id="songs-list">
          <% @item.disks.first.songs.each do |song| %>
            <li><%= song.title %></li>
          <% end %>
        </ol>
        <p>在庫: <%= @item.stock %></p>
        <select id="" name="">
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
        </select>
        枚
        <button class="btn btn-primary">カートに追加</button>
      </div>
    </div>
  </div>
</div>
