<%= render 'layouts/error', object: item %>
<%= form_with model: [:admins, item], local: true do |f| %>
  <div class="field">
    <%= f.label :アーティスト %>
    <%= f.select :artist_id, Artist.all.map { |t| [t.name, t.id] }, prompt: "選択してください" %>
  </div>
  <div class="field">
    <%= f.label :シングル・アルバム名 %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :ジャケット画像 %>
    <%= f.attachment_field :jacket_image %>
  </div>
  <div class="field">
    <%= f.label :価格 %>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :レーベル %>
    <%= f.select :label_id, Label.all.map { |t| [t.name, t.id] }, prompt: "選択してください" %>
  </div>
  <div class="field">
    <%= f.label :ジャンル %>
    <%= f.select :genre_id, Genre.all.map { |t| [t.name, t.id] }, prompt: "選択してください" %>
  </div>
  <div class="field">
    <%= f.label :ステータス %>
    <%= f.select :status, [["販売中", true], ["売り切れ", false]] %>
  </div>
  <div class="field">
    <%= f.label :在庫数 %>
    <%= f.text_field :stock %>
  </div>
  <div id="disks">
    <%= f.fields_for :disks do |disk| %>
      <%= render 'disk_fields', f: disk %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "ディスクを追加", f, :disks, class: "btn btn-success" %>
    </div>
  </div>
  <br>
  
  <%= f.submit "登録", class: "btn btn-default" %>
<% end %>
