  <%= link_to '新規作成', new_admins_item_path, class: "btn btn-info" %>
  <hr>
<div class="row">
    <% @items.each do |item| %>
  <div class="col-md-6">
      <div class="jumbotron item-wrapper">
        <div class="container-fluid">
          <div class="row">

            <div class="col-sm-4">
              <%= attachment_image_tag item, :jacket_image, :fill, 100, 100, size: "100x100", fallback: "no_image.png" %>
            </div>

            <div class="col-sm-8">
              <h4><%= item.title %> / <%= item.artist.name %></h4>
              <p><%= item.status ? "販売中" : "売り切れ" %></p>
              <p>在庫: <%= item.stock %></p>
              <%= link_to 'show', admins_item_path(item) %>
            </div>

          </div>
        </div>
      </div>
  </div>
    <% end %>
</div>
    <%= paginate @items, class: "paginate" %>
