<div class="jumbotron item-show-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <%= attachment_image_tag @item, :jacket_image, :fill, 300, 300, size: "300x300", fallback: "no_image.png" %>
      </div>
      <div class="col-sm-6">
        <h2><%= @item.title %> / <%= @item.artist.name %></h2>
        <h3><%= @item.genre.name %> / <%= @item.label.name %></h3>
        <p>￥<%= @item.price %></p>
        <p><%= @item.status ? "販売中" : "売り切れ" %></p>
        <!-- <select id="" name=""> -->
        <!--   <option value="">ディスク１</option> -->
        <!--   <option value="">ディスク２</option> -->
        <!-- </select> -->
        <%= select_tag('item[disks]', options_for_select(@item.disks.map.with_index{ |disk, index| ["Disk#{index + 1}", disk.id] })) %>
        <ol id="songs-list">
        </ol>
        <p>在庫: <%= @item.stock %></p>
        <a href="#">編集</a>
        <a href="#">削除</a>
      </div>
    </div>
  </div>
</div>
