<h2>Sign up</h2>
<%= render 'layouts/error', object: resource %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :氏名 %><br />
    <%= f.text_field :last_name, autofocus: true, placeholder: "姓" %>
    <%= f.text_field :first_name, placeholder: "名" %>
  </div>

  <div class="field">
    <%= f.label :氏名（カナ） %><br />
    <%= f.text_field :kana_last_name, placeholder: "セイ" %>
    <%= f.text_field :kana_first_name, placeholder: "メイ" %>
  </div>

  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :prefecture_name %><br />
    <%= f.select :prefecture_name, get_prefecture_all %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/users/shared/links" %>
