<div class="row">
  <div class="col-sm-5">
    <%= render 'layouts/error', object: record %>
    <%= form_with model: [:admins, record], local: true do |f|  %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit "登録" %>
    <% end %>
  </div>
  <div class="col-sm-7">
    <div class="index-wrapper">
      <% records.each do |record| %>
        <%= record.name %>
        <%= link_to "編集", [:edit, :admins, record] %>
        <%= link_to "削除", [:admins, record], method: :delete, data: { "confirm" => "本当に削除しますか？" } %>
      <% end %>
    </div>
    <%= paginate records, class: "pagination" %>
  </div>
</div>
